<% if(contentCode == "home"){%>
<h2>Welcome to OmegU, <span class="colorz" id="colorz"><%=name%></span></h2>
<hr />

<div class="container">
  <div class="row">
    <div class="intro col-12">
      <h1>Interests</h1>
      <div>
        <div class="border1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="helpText col-12" style="justify-content: center;">
      <p>
        Please enter your interests so we can match you with other students with
        similar interests!
      </p>
    </div>
  </div>

  <div>
    <ul
      style="
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        list-style-type: none;
        text-align: left;
      "
    >
      <li>
        <input
          type="checkbox"
          id="anything-box"
          name="anything"
          value="anything"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label style="padding-top: 0px;" for="anything-box">Anything</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="music-general-box"
          name="music-general"
          value="music-general"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="music-general-box">Music General</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="pop-music-box"
          name="pop-music"
          value="pop-music"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="pop-music-box">Pop Music</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="rap-music-box"
          name="rap-music"
          value="rap-music"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="rap-music-box">Rap Music</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="k-pop-box"
          name="k-pop"
          value="k-pop"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="k-pop-box">K-Pop</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="sports-general-box"
          name="sports-general"
          value="sports-general"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="sports-general-box">Sports General</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="basketball-box"
          name="basketball"
          value="basketball"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="basketball-box">Basketball</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="soccer-box"
          name="soccer"
          value="soccer"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="soccer-box">Soccer</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="volleyball-box"
          name="volleyball"
          value="volleyball"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="volleyball-box">Volleyball</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="badminton-box"
          name="badminton"
          value="badminton"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="badminton-box">Badminton</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="working-out-box"
          name="working-out"
          value="working-out"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="working-out-box">Working Out</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="consumer-technology-box"
          name="consumer-technology"
          value="consumer-technology"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="consumer-technology-box">Consumer Technology</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="coding-box"
          name="coding"
          value="coding"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="coding-box">Coding</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="food-box"
          name="food"
          value="food"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="food-box">Food</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="arts-box"
          name="arts"
          value="arts"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="arts-box">Arts</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="cars-box"
          name="cars"
          value="cars"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="cars-box">Cars</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="gaming-box"
          name="gaming"
          value="gaming"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="gaming-box">Gaming</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="fashion-box"
          name="fashion"
          value="fashion"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="fashion-box">Fashion</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="anime-box"
          name="anime"
          value="anime"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="anime-box">Anime</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="tv-shows-box"
          name="tv-shows"
          value="tv-shows"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="tv-shows-box">TV Shows</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="movies-box"
          name="movies"
          value="movies"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="movies-box">Movies</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="cooking/baking-box"
          name="cooking/baking"
          value="cooking/baking"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="cooking/baking-box">Cooking/Baking</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="reading-box"
          name="reading"
          value="reading"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="reading-box">Reading</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="sleeping-box"
          name="sleeping"
          value="sleeping"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="sleeping-box">Sleeping</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="travelling-box"
          name="travelling"
          value="travelling"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="travelling-box">Travelling</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="politics-box"
          name="politics"
          value="politics"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="politics-box">Politics</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="outdoor-activities-box"
          name="outdoor-activities"
          value="outdoor-activities"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="outdoor-activities-box">Outdoor Activities</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="pets-box"
          name="pets"
          value="pets"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="pets-box">Pets</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="advice-box"
          name="advice"
          value="advice"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="advice-box">Advice</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="university-related-box"
          name="university-related"
          value="university-related"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="university-related-box">University Related</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="outdoors-box"
          name="outdoors"
          value="outdoors"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="outdoors-box">Outdoors</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="crafts-box"
          name="crafts"
          value="crafts"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="crafts-box">Crafts</label>
      </li>
      <li>
        <input
          type="checkbox"
          id="dance-box"
          name="dance"
          value="dance"
          style="
            margin-right: -50px;
            margin-left: -60px;
            float: left;
            margin-top: 5px;
          "
        /><label for="dance-box">Dance</label>
      </li>
    </ul>
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block;">
      <div style="text-align: left;">
        <button
          type="button"
          class="button"
          id="start-chatting"
          data-test-value="<%=email%>"
          style="
            background-color: #31343b;
            border: none;
            border-radius: 8px;
            color: white;
            padding: 10px;
            margin-top: 20px;
          "
          onclick="startBtnClicked()"
        >
          <!-- old version- this was in the button tag: onclick="window.location.href='https://omeguu.herokuapp.com/?room=d4a-7g4-v2m'"
-->
          Start Chatting!
        </button>
      </div>
    </div>
  </div>
  <%} else if(contentCode == "profile"){%>
  <div
    class="container"
    style="text-align: center; padding-bottom: 30px; padding-top: 30px;"
  >
    <h2><span class="colorz"><%=name%>'s</span> Profile</h2>
  </div>

  <div
    class="container"
    style="text-align: center; display: inline-block; text-align: left;"
  >
    <div class="row">
      <div class="col">
        <label style="color: black;">Name</label> <br />
        <input
          type="text"
          placeHolder="<%=name%>"
          id="name"
          name="name"
          readonly
        />
      </div>
      <div class="col">
        <label style="color: black;">Email</label> <br />
        <input
          type="text"
          placeHolder="<%=email%>"
          id="email"
          name="Email"
          readonly
        />
      </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col">
        <label style="color: black;">University</label> <br />
        <input
          type="text"
          placeHolder="University of Waterloo"
          id="university"
          name="university"
          readonly
        />
      </div>
      <!-- <div class="col">
        <label style="color: black;">University</label> <br />
        <select id="university" name="university" style="width: 92%;">
          <option value="University of Waterloo">University of Waterloo</option>
          <option value="University of Waterloo">University of Ottawa</option>
          <option value="University of Waterloo">Queen's University</option>
          <option value="University of Waterloo">University of Toronto</option>
          <option value="University of Waterloo">Carleton Univsersity</option>
        </select>
      </div> -->
      <div class="col">
        <label style="color: black;">Faculty</label> <br />
        <select
          class="custom-select custom-select-sm"
          id="faculty"
          name="faculty"
          style="width: 92%;"
        >
          <option value="Faculty of Applied Health Sciences"
            >Faculty of Applied Health Sciences</option
          >
          <option value="Faculty of Arts">Faculty of Arts</option>
          <option value="Faculty of Engineering">Faculty of Engineering</option>
          <option value="Faculty of Environment">Faculty of Environment</option>
          <option value="Faculty of Mathematics">Faculty of Mathematics</option>
          <option value="Faculty of Science">Faculty of Science</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col">
        <label style="color: black;">Program</label> <br />
        <select
          id="program"
          name="program"
          style="width: 92%;"
          class="custom-select custom-select-sm"
        >
          <!--Applied health sci programs-->
          <!-- <option value="placeholder">Health Studies</option> -->
          <!-- <option value="placeholder">Kinesiology</option> -->
          <!-- <option value="placeholder">Public Health</option> -->
          <!-- <option value="placeholder">Recreation and Leisure Studies</option> -->

          <!--Arts programs-->
          <!-- <option value="placeholder">Honours Arts</option> -->
          <!-- <option value="placeholder">Honours Arts and Business</option> -->
          <!-- <option value="placeholder">Global Business and Digital Arts</option> -->
          <!-- <option value="placeholder">Social Development Studies</option> -->
          <!-- <option value="placeholder">Accounting and Financial Management</option> -->
          <!-- <option value="placeholder">Computing and Financial Management</option> -->

          <!--Engineering programs-->
          <!-- <option value="placeholder">Architectural Engineering</option> -->
          <!-- <option value="placeholder">Architecture</option> -->
          <!-- <option value="placeholder">Biomedical Engineering</option> -->
          <!-- <option value="placeholder">Chemical Engineering</option> -->
          <!-- <option value="placeholder">Civil Engineering</option> -->
          <!-- <option value="placeholder">Computer Engineering</option> -->
          <!-- <option value="placeholder">Electrical Engineering</option> -->
          <!-- <option value="placeholder">Environmental Engineering</option> -->
          <!-- <option value="placeholder">Geological Engineering</option> -->
          <!-- <option value="placeholder">Management Engineering</option> -->
          <!-- <option value="placeholder">Mechanical Engineering</option> -->
          <!-- <option value="placeholder">Mechatronics Engineering</option> -->
          <!-- <option value="placeholder">Nanotechnology Engineering</option> -->
          <!-- <option value="placeholder">Software Engineering</option> -->
          <!-- <option value="placeholder">Systems Design Engineering</option> -->

          <!--Environment Programs-->
          <!-- <option value="placeholder">Environment and Business</option> -->
          <!-- <option value="placeholder">Environment, Resources and Sustainability</option> -->
          <!-- <option value="placeholder">Geography and Aviation</option> -->
          <!-- <option value="placeholder">Geography and Environmental Management</option> -->
          <!-- <option value="placeholder">Geomatics</option> -->
          <!-- <option value="placeholder">International Development</option> -->
          <!-- <option value="placeholder">Knowledge Integration</option> -->
          <!-- <option value="placeholder">Planning</option> -->

          <!--Math Programs-->
          <!-- <option value="placeholder">Business Administration and Computer Science Double Degree</option> -->
          <!-- <option value="placeholder">Business Administration and Mathematics Double Degree</option> -->
          <!-- <option value="placeholder">Computer Science</option> -->
          <!-- <option value="placeholder">Computing and Financial Management</option> -->
          <!-- <option value="placeholder">Honours Mathematics</option> -->
          <!-- <option value="placeholder">Mathematics/Business Administration</option> -->
          <!-- <option value="placeholder">Mathematics/Chartered Professional Accountancy</option> -->
          <!-- <option value="placeholder">Mathematics/Financial Analysis and Risk Management</option> -->

          <!--Honours Math Majors-->
          <!--
            <option value="placeholder">Actuarial Science</option>
            <option value="placeholder">Applied Mathematics</option>
            <option value="placeholder">Biostatistics</option>
            <option value="placeholder">Combinatorics and Optimization</option>
            <option value="placeholder">Computational Mathematics</option>
            <option value="placeholder">Data Science (BCS)</option>
            <option value="placeholder">Data Science (BMath)</option>
            <option value="placeholder">Mathematical Economics</option>
            <option value="placeholder">Mathematical Finance</option>
            <option value="placeholder">Mathematical Optimization</option>
            <option value="placeholder">Mathematical Physics</option>
            <option value="placeholder">Mathematical Studies</option>
            <option value="placeholder">Mathematics/Teaching</option>
            <option value="placeholder">Pure Mathematics</option>
            <option value="placeholder">Statistics</option>
          -->

          <!--Science Programs-->
          <!-- <option value="placeholder">Biochemistry</option> -->
          <!-- <option value="placeholder">Biology</option> -->
          <!-- <option value="placeholder">Biotechnology/Chartered Professional Accountancy</option> -->
          <!-- <option value="placeholder">Biotechnology/Economics</option> -->
          <!-- <option value="placeholder">Chemistry</option> -->
          <!-- <option value="placeholder">Conditional Admission to Pharmacy</option> -->
          <!-- <option value="placeholder">Earth Sciences</option> -->
          <!-- <option value="placeholder">Environmental Science</option> -->
          <!-- <option value="placeholder">Honours Science</option> -->
          <!-- <option value="placeholder">Life Physics</option> -->
          <!-- <option value="placeholder">Materials and Nanosciences</option> -->
          <!-- <option value="placeholder">Mathematical Physics</option> -->
          <!-- <option value="placeholder">Medicinal Chemistry</option> -->
          <!-- <option value="placeholder">Physics</option> -->
          <!-- <option value="placeholder">Physics and Astronomy</option> -->
          <!-- <option value="placeholder">Psychology</option> -->
          <!-- <option value="placeholder">Science and Aviation</option> -->
          <!-- <option value="placeholder">Science and Business</option> -->
        </select>
      </div>
      <div class="col">
        <label style="color: black;">Graduating Year</label> <br />
        <select
          id="year"
          name="year"
          style="width: 92%;"
          class="custom-select custom-select-sm"
        >
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="button"
    id="save"
    style="
      background-color: #31343b;
      border: none;
      border-radius: 8px;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 16px;
    "
  >
    Save Profile
  </button>

  <%} else {%>

  <h2>Welcome to OmegU, <span class="colorz" id="colorz"><%=name%></span></h2>
  <hr />

  <div class="container">
    <div class="row">
      <div class="intro col-12">
        <h1>Interests</h1>
        <div>
          <div class="border1"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="helpText col-12" style="justify-content: center;">
        <p>
          Please check off your interests so we can match you with another
          student who has common interests!
        </p>
      </div>
    </div>

    <div>
      <ul
        style="
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          list-style-type: none;
          text-align: left;
        "
      >
        <li>
          <input
            type="checkbox"
            id="anything-box"
            name="anything"
            value="anything"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label style="padding-top: 0px;" for="anything-box">Anything</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="music-general-box"
            name="music-general"
            value="music-general"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="music-general-box">Music General</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="pop-music-box"
            name="pop-music"
            value="pop-music"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="pop-music-box">Pop Music</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="rap-music-box"
            name="rap-music"
            value="rap-music"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="rap-music-box">Rap Music</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="k-pop-box"
            name="k-pop"
            value="k-pop"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="k-pop-box">K-Pop</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="sports-general-box"
            name="sports-general"
            value="sports-general"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="sports-general-box">Sports General</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="basketball-box"
            name="basketball"
            value="basketball"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="basketball-box">Basketball</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="soccer-box"
            name="soccer"
            value="soccer"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="soccer-box">Soccer</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="volleyball-box"
            name="volleyball"
            value="volleyball"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="volleyball-box">Volleyball</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="badminton-box"
            name="badminton"
            value="badminton"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="badminton-box">Badminton</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="working-out-box"
            name="working-out"
            value="working-out"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="working-out-box">Working Out</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="consumer-technology-box"
            name="consumer-technology"
            value="consumer-technology"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="consumer-technology-box">Consumer Technology</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="coding-box"
            name="coding"
            value="coding"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="coding-box">Coding</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="food-box"
            name="food"
            value="food"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="food-box">Food</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="arts-box"
            name="arts"
            value="arts"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="arts-box">Arts</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="cars-box"
            name="cars"
            value="cars"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="cars-box">Cars</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="gaming-box"
            name="gaming"
            value="gaming"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="gaming-box">Gaming</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="fashion-box"
            name="fashion"
            value="fashion"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="fashion-box">Fashion</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="anime-box"
            name="anime"
            value="anime"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="anime-box">Anime</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="tv-shows-box"
            name="tv-shows"
            value="tv-shows"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="tv-shows-box">TV Shows</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="movies-box"
            name="movies"
            value="movies"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="movies-box">Movies</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="cooking/baking-box"
            name="cooking/baking"
            value="cooking/baking"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="cooking/baking-box">Cooking/Baking</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="reading-box"
            name="reading"
            value="reading"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="reading-box">Reading</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="sleeping-box"
            name="sleeping"
            value="sleeping"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="sleeping-box">Sleeping</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="travelling-box"
            name="travelling"
            value="travelling"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="travelling-box">Travelling</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="politics-box"
            name="politics"
            value="politics"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="politics-box">Politics</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="outdoor-activities-box"
            name="outdoor-activities"
            value="outdoor-activities"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="outdoor-activities-box">Outdoor Activities</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="pets-box"
            name="pets"
            value="pets"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="pets-box">Pets</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="advice-box"
            name="advice"
            value="advice"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="advice-box">Advice</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="university-related-box"
            name="university-related"
            value="university-related"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="university-related-box">University Related</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="outdoors-box"
            name="outdoors"
            value="outdoors"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="outdoors-box">Outdoors</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="crafts-box"
            name="crafts"
            value="crafts"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="crafts-box">Crafts</label>
        </li>
        <li>
          <input
            type="checkbox"
            id="dance-box"
            name="dance"
            value="dance"
            style="
              margin-right: -50px;
              margin-left: -60px;
              float: left;
              margin-top: 5px;
            "
          /><label for="dance-box">Dance</label>
        </li>
      </ul>
    </div>

    <div style="text-align: center;">
      <div style="display: inline-block;">
        <div style="text-align: left;">
          <button
            type="button"
            class="button"
            id="start-chatting"
            data-test-value="<%=email%>"
            style="
              background-color: #31343b;
              border: none;
              border-radius: 8px;
              color: white;
              padding: 10px;
              margin-top: 20px;
            "
            onclick="startBtnClicked()"
          >
            Start Chatting!
          </button>
        </div>
      </div>
    </div>
    <%}%>
  </div>
</div>
