<% if(contentCode == "home"){%>
<h2>Welcome to Wave, <span class="colorz" id="colorz"><%=name%></span></h2>
<!--
<div class="online">
  <%if(typeof onlineCount != 'undefined'){%>
  <h4><%=onlineCount%> online</h4>
  <%}%>
</div>
<hr />
<div class="online">
  <%if(typeof onlineCount != 'undefined'){%>

  <h4><%=onlineCount%> online</h4>
  <%}%>
</div>
-->

<div class="container">
  <div class="row">
    <div class="intro col-12">
      <h1>Interests</h1>
      <div>
        <div class="border1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="helpText col-12">
      <p>
        Please enter your interests so we can match you with other students with
        similar interests!
      </p>
    </div>
  </div>

  <div>
    <ul class="cont">
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="anything-box"
          name="anything"
          value="anything"
        /><label class="anythingBox" for="anything-box">Anything</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="music-general-box"
          name="music-general"
          value="music-general"
        /><label for="music-general-box">Music General</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="pop-music-box"
          name="pop-music"
          value="pop-music"
        /><label for="pop-music-box">Pop Music</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="rap-music-box"
          name="rap-music"
          value="rap-music"
        /><label for="rap-music-box">Rap Music</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="k-pop-box"
          name="k-pop"
          value="k-pop"
        /><label for="k-pop-box">K-Pop</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="sports-general-box"
          name="sports-general"
          value="sports-general"
        /><label for="sports-general-box">Sports General</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="basketball-box"
          name="basketball"
          value="basketball"
        /><label for="basketball-box">Basketball</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="soccer-box"
          name="soccer"
          value="soccer"
        /><label for="soccer-box">Soccer</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="volleyball-box"
          name="volleyball"
          value="volleyball"
        /><label for="volleyball-box">Volleyball</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="badminton-box"
          name="badminton"
          value="badminton"
        /><label for="badminton-box">Badminton</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="working-out-box"
          name="working-out"
          value="working-out"
        /><label for="working-out-box">Working Out</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="consumer-technology-box"
          name="consumer-technology"
          value="consumer-technology"
        /><label for="consumer-technology-box">Consumer Technology</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="coding-box"
          name="coding"
          value="coding"
        /><label for="coding-box">Coding</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="food-box"
          name="food"
          value="food"
        /><label for="food-box">Food</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="arts-box"
          name="arts"
          value="arts"
        /><label for="arts-box">Arts</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="cars-box"
          name="cars"
          value="cars"
        /><label for="cars-box">Cars</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="gaming-box"
          name="gaming"
          value="gaming"
        /><label for="gaming-box">Gaming</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="fashion-box"
          name="fashion"
          value="fashion"
        /><label for="fashion-box">Fashion</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="anime-box"
          name="anime"
          value="anime"
        /><label for="anime-box">Anime</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="tv-shows-box"
          name="tv-shows"
          value="tv-shows"
        /><label for="tv-shows-box">TV Shows</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="movies-box"
          name="movies"
          value="movies"
        /><label for="movies-box">Movies</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="cooking/baking-box"
          name="cooking/baking"
          value="cooking/baking"
        /><label for="cooking/baking-box">Cooking/Baking</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="reading-box"
          name="reading"
          value="reading"
        /><label for="reading-box">Reading</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="sleeping-box"
          name="sleeping"
          value="sleeping"
        /><label for="sleeping-box">Sleeping</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="travelling-box"
          name="travelling"
          value="travelling"
        /><label for="travelling-box">Travelling</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="politics-box"
          name="politics"
          value="politics"
        /><label for="politics-box">Politics</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="outdoor-activities-box"
          name="outdoor-activities"
          value="outdoor-activities"
        /><label for="outdoor-activities-box">Outdoor Activities</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="pets-box"
          name="pets"
          value="pets"
        /><label for="pets-box">Pets</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="advice-box"
          name="advice"
          value="advice"
        /><label for="advice-box">Advice</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="university-related-box"
          name="university-related"
          value="university-related"
        /><label for="university-related-box">University Related</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="outdoors-box"
          name="outdoors"
          value="outdoors"
        /><label for="outdoors-box">Outdoors</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="crafts-box"
          name="crafts"
          value="crafts"
        /><label for="crafts-box">Crafts</label>
      </li>
      <li>
        <input
          class="tickbox"
          type="checkbox"
          id="dance-box"
          name="dance"
          value="dance"
        /><label for="dance-box">Dance</label>
      </li>
    </ul>
  </div>

  <div class="centerMe">
    <div class="displayMe">
      <div class="leftMe">
        <button
          type="button"
          class="button chatButton"
          id="start-chatting"
          data-test-value="<%=email%>"
          onclick="startBtnClicked()"
        >
          <!-- old version- this was in the button tag: onclick="window.location.href='https://omeguu.herokuapp.com/?room=d4a-7g4-v2m'"
    -->
          Start Chatting!
        </button>
      </div>
    </div>
  </div>
  <div id="overlay">
    <div id="text">
      <div class="wrapper1">
        <div class="loader">
          <div class="loading"></div>
          <p class="matching">
            Matching... <br />You will be redirected shortly <br />Your browser
            may ask if you want to leave the site. Please click "Leave"
          </p>
        </div>
      </div>
    </div>
  </div>
  <%} else if(contentCode == "profile"){%>
  <div class="container containerA">
    <h2><span class="colorz"><%=name%>'s</span> Profile</h2>
  </div>

  <div class="container containerB">
    <div class="row">
      <div class="col">
        <label class="profileList">Name</label> <br />
        <input
          type="text"
          placeholder="<%=name%>"
          id="name"
          name="name"
          readonly
        />
      </div>
      <div class="col">
        <label class="profileList">Email</label> <br />
        <input
          type="text"
          placeholder="<%=email%>"
          id="email"
          name="Email"
          readonly
        />
      </div>
    </div>
    <div class="row rowA">
      <div class="col">
        <label class="profileList">University</label> <br />
        <input
          type="text"
          placeHolder="Placeholder University"
          id="university"
          name="university"
          readonly
        />
      </div>

      <div class="col">
        <form action="/action_page.php" method="get">
          <label class="profileList" for="program">Program</label> <br />
          <input
            list="programs"
            name="program"
            id="program"
            style="border: 1px solid gray; border-radius: 4px;"
          />
          <datalist id="programs">
            <!-- the options are dynamically added to this datalist in profileItemScript.js -->
          </datalist>
        </form>
      </div>

      <!-- <div class="col">
          <label class="profileList">Faculty</label> <br />
          <select
            class="custom-select custom-select-sm changeWidth"
            id="faculty"
            name="faculty"
          >
            <option value="Faculty of Applied Health Sciences"
              >Faculty of Applied Health Sciences</option
            >
            <option value="Faculty of Arts">Faculty of Arts</option>
            <option value="Faculty of Engineering">Faculty of Engineering</option>
            <option value="Faculty of Environment">Faculty of Environment</option>
            <option value="Faculty of Mathematics">Faculty of Mathematics</option>
            <option value="Faculty of Science">Faculty of Science</option>
          </select>
        </div> -->
    </div>
  </div>

  <button type="button" class="button saveButton" id="save">
    Save Profile
  </button>
  <%} else if(contentCode == "no-program"){%>
  <div class="container containerA">
    <h2><span class="colorz"><%=name%>'s</span> Profile</h2>
  </div>

  <div class="container containerB">
    <div class="row">
      <div class="col">
        <label class="profileList">Name</label> <br />
        <input
          type="text"
          placeholder="<%=name%>"
          id="name"
          name="name"
          style="border: 1px solid gray; border-radius: 4px;"
          readonly
        />
      </div>
      <div class="col">
        <label class="profileList">Email</label> <br />
        <input
          type="text"
          placeholder="<%=email%>"
          id="email"
          name="Email"
          style="border: 1px solid gray; border-radius: 4px;"
          readonly
        />
      </div>
    </div>
    <div class="row rowA">
      <div class="col">
        <label class="profileList">University</label> <br />
        <input
          type="text"
          placeHolder="Placeholder University"
          id="university"
          name="university"
          style="border: 1px solid gray; border-radius: 4px;"
          readonly
        />
      </div>

      <div class="col">
        <form action="/action_page.php" method="get">
          <label class="profileList" for="program">Program</label> <br />
          <input
            list="programs"
            name="program"
            id="program"
            style="border: 1px solid gray; border-radius: 4px;"
          />
          <datalist id="programs">
            <!-- the options are dynamically added to this datalist in profileItemScript.js -->
          </datalist>
        </form>
      </div>

      <!-- <div class="col">
        <label class="profileList">Faculty</label> <br />
        <select
          class="custom-select custom-select-sm changeWidth"
          id="faculty"
          name="faculty"
        >
          <option value="Faculty of Applied Health Sciences"
            >Faculty of Applied Health Sciences</option
          >
          <option value="Faculty of Arts">Faculty of Arts</option>
          <option value="Faculty of Engineering">Faculty of Engineering</option>
          <option value="Faculty of Environment">Faculty of Environment</option>
          <option value="Faculty of Mathematics">Faculty of Mathematics</option>
          <option value="Faculty of Science">Faculty of Science</option>
        </select>
      </div> -->
    </div>
  </div>

  <button type="button" class="button saveButton" id="save">
    Save Profile
  </button>

  <%} else if (contentCode == "settings") {%> <%-
  include('./passwordMessages.ejs')%>

  <form action="/users/change-password" method="POST">
    <div style="padding-top: 5vh; margin: 0 auto;">
      <h2>Settings</h2>
      <hr />
      <h3>Change Password</h3>
      <!-- <div class="row"> -->
      <!-- <div class="col" style="width: 50%;"> -->
      <!-- <label class="profileList">Old Password</label>  -->
      <!-- <br/> -->
      <input
        type="password"
        placeHolder="Old Password"
        id="password"
        name="password"
        style="
          border: 1px solid grey;
          border-radius: 4px;
          margin: 2vh;
          width: 50%;
          max-width: 20vw;
        "
      />
      <br />

      <!-- <label class="profileList">New Password</label>  -->
      <!-- <br/> -->
      <input
        type="password"
        placeHolder="New Password"
        id="newPassword"
        name="newPassword"
        style="
          border: 1px solid grey;
          border-radius: 4px;
          margin: 2vh;
          max-width: 20vw;
        "
      />
      <br />

      <!-- <label class="profileList">Confirm New Password</label>  -->
      <!-- <br/> -->
      <input
        type="password"
        placeHolder="Confirm New Password"
        id="confirmNewPassword"
        name="confirmNewPassword"
        style="
          border: 1px solid grey;
          border-radius: 4px;
          margin: 2vh;
          max-width: 20vw;
        "
      />

      <!-- </div> -->
      <!-- </div> -->
    </div>

    <!-- <button
      type="button"
      class="button saveButton"
      id="cancel"
      style="margin-right: 0.5vh;"
      onclick="location.href='/dashboard/home'"
    >
      Cancel
    </button> -->

    <button
      type="submit"
      class="button saveButton"
      id="save-settings"
      style="margin: 2vh; width: 50%; max-width: 15vw;"
    >
      Save Changes
    </button>
  </form>

  <%} else {%>

  <h2>Welcome to Wave, <span class="colorz" id="colorz"><%=name%></span></h2>
  <!--
  <div class="online">
    <%if(typeof onlineCount != 'undefined'){%>

    <h4><%=onlineCount%> online</h4>
    <%}%>
  </div>
  <hr />
  -->

  <div class="container">
    <div class="row">
      <div class="intro col-12">
        <h1>Interests</h1>
        <div>
          <div class="border1"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="helpText col-12 helpText">
        <p>
          Please enter your interests so we can match you with other students
          with similar interests!
        </p>
      </div>
    </div>

    <div>
      <ul class="cont">
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="anything-box"
            name="anything"
            value="anything"
          /><label class="anythingBox" for="anything-box">Anything</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="music-general-box"
            name="music-general"
            value="music-general"
          /><label for="music-general-box">Music General</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="pop-music-box"
            name="pop-music"
            value="pop-music"
          /><label for="pop-music-box">Pop Music</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="rap-music-box"
            name="rap-music"
            value="rap-music"
          /><label for="rap-music-box">Rap Music</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="k-pop-box"
            name="k-pop"
            value="k-pop"
          /><label for="k-pop-box">K-Pop</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="sports-general-box"
            name="sports-general"
            value="sports-general"
          /><label for="sports-general-box">Sports General</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="basketball-box"
            name="basketball"
            value="basketball"
          /><label for="basketball-box">Basketball</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="soccer-box"
            name="soccer"
            value="soccer"
          /><label for="soccer-box">Soccer</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="volleyball-box"
            name="volleyball"
            value="volleyball"
          /><label for="volleyball-box">Volleyball</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="badminton-box"
            name="badminton"
            value="badminton"
          /><label for="badminton-box">Badminton</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="working-out-box"
            name="working-out"
            value="working-out"
          /><label for="working-out-box">Working Out</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="consumer-technology-box"
            name="consumer-technology"
            value="consumer-technology"
          /><label for="consumer-technology-box">Consumer Technology</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="coding-box"
            name="coding"
            value="coding"
          /><label for="coding-box">Coding</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="food-box"
            name="food"
            value="food"
          /><label for="food-box">Food</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="arts-box"
            name="arts"
            value="arts"
          /><label for="arts-box">Arts</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="cars-box"
            name="cars"
            value="cars"
          /><label for="cars-box">Cars</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="gaming-box"
            name="gaming"
            value="gaming"
          /><label for="gaming-box">Gaming</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="fashion-box"
            name="fashion"
            value="fashion"
          /><label for="fashion-box">Fashion</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="anime-box"
            name="anime"
            value="anime"
          /><label for="anime-box">Anime</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="tv-shows-box"
            name="tv-shows"
            value="tv-shows"
          /><label for="tv-shows-box">TV Shows</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="movies-box"
            name="movies"
            value="movies"
          /><label for="movies-box">Movies</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="cooking/baking-box"
            name="cooking/baking"
            value="cooking/baking"
          /><label for="cooking/baking-box">Cooking/Baking</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="reading-box"
            name="reading"
            value="reading"
          /><label for="reading-box">Reading</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="sleeping-box"
            name="sleeping"
            value="sleeping"
          /><label for="sleeping-box">Sleeping</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="travelling-box"
            name="travelling"
            value="travelling"
          /><label for="travelling-box">Travelling</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="politics-box"
            name="politics"
            value="politics"
          /><label for="politics-box">Politics</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="outdoor-activities-box"
            name="outdoor-activities"
            value="outdoor-activities"
          /><label for="outdoor-activities-box">Outdoor Activities</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="pets-box"
            name="pets"
            value="pets"
          /><label for="pets-box">Pets</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="advice-box"
            name="advice"
            value="advice"
          /><label for="advice-box">Advice</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="university-related-box"
            name="university-related"
            value="university-related"
          /><label for="university-related-box">University Related</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="outdoors-box"
            name="outdoors"
            value="outdoors"
          /><label for="outdoors-box">Outdoors</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="crafts-box"
            name="crafts"
            value="crafts"
          /><label for="crafts-box">Crafts</label>
        </li>
        <li>
          <input
            class="tickbox"
            type="checkbox"
            id="dance-box"
            name="dance"
            value="dance"
          /><label for="dance-box">Dance</label>
        </li>
      </ul>
    </div>

    <div class="centerMe">
      <div class="displayMe">
        <div class="leftMe">
          <button
            type="button"
            class="button chatButton"
            id="start-chatting"
            data-test-value="<%=email%>"
            onclick="startBtnClicked()"
          >
            Start Chatting!
          </button>
        </div>
      </div>
    </div>
    <div id="overlay">
      <div id="text">
        <div class="wrapper1">
          <div class="loader">
            <div class="loading"></div>
            <p class="matching">
              Matching... <br />You will be redirected shortly <br />Your
              browser may ask if you want to leave the site. Please click
              "Leave"
            </p>
          </div>
        </div>
      </div>
    </div>

    <%}%>
  </div>
</div>
